.App {
  text-align: center;
}

.card {
  margin: auto;
  margin-top: 50px;
  width: 18rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
}

.card-body {
  background-color:lightcoral ;
  display: flex;
  justify-content: space-around;
}

.card-img-top {
  width: 100%;
  height: auto;
}
.card-title{
  margin-left: 100px;
}
.card-subtitle{
  margin-right: 90px;
}